header { 
	background-color: rgb(1, 73, 95);
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 25px;
}
 
body {
	font-family:'Syne', sans-serif; 												
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);				
	margin: 0;													
	padding: 0; 
	height: 1vw;	/* relative length  */
}

footer{ 
	background-color:rgb(0, 0, 0);
	color: white;
	text-align: center;
	padding: 10px
	
}

/* scroll to top of page button
.scroll-up{
	position: fixed;
	right: 0.5%;
	bottom: 3%;
	cursor: pointer;
}
	.up-arrow{
		width: 50px;
		height: 50px;
	}
 scroll to top of page button*/

/* light-dark theme changer
 
.checkbox{
	opacity: 0;
	position: absolute;
}
	.label{
		width:50px;
		height: 30px; 
		background-color: rgb(177, 1, 1);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 50%;
		padding: 5px;
		position: relative;
	}
.switcher{
	background-color: black;
	position: absolute;
	top: 5px;
	left: 2px;
	height:20px;
	width: 20px;
	border-radius: 50%;
}
	.moon{
		color: yellow;
	}
	.sun{
		color: green;
	} 
 light-dark theme changer */

	/* Customizing scroll bar */
body::-webkit-scrollbar {				
	width: 10px;
	}
	body::-webkit-scrollbar-track {
		background: rgb(18, 43, 8);
	}
	body::-webkit-scrollbar-thumb {
		background: rgb(45, 18, 18);
	}
/* Customizing scroll bar */



/* Landing page */
.land{
	background-color: rgb(1, 73, 95);
	background-image: url("D:\Programming\Cyber-Safe (github)\cyber-safe\pics\edu.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

	.cc {
		color: rgb(255, 255, 255);
		align-items: right;
		text-align: right;
		font-size: 30px;
}
		.cd{
			color: rgb(255, 255, 255);
			align-items: right;
			text-align: right;
			font-size: 50px;
		}

.title {
	color: rgb(255, 255, 255);
	font-size: 110px;
	text-align: left;
}
/* Landing page */

/* navigation bar */ 
.navbar ul {
	list-style-type: none;	
	padding: 0; 
}

	.navbar {
		justify-content:space-between;
		display:flex;
		border: 5px solid rgb(0, 0, 0);
		background-color: silver;
	}
	.navbar ul li a { 
		text-align: center;
		color: black;
		padding: 30px;
	}

	.navbar li{ 
		float:left;	
		position: static;
	}
	/* Highlighting the current page*/
	.navbar a.active{
		background-color: rgb(18, 43, 8);
		color: white;
	}

	.navbar li a:hover {
		background-color: blueviolet;
		color: rgb(0, 0, 0);
	}
/* navigation bar*/

/* Search bar -- not working due to my nav bar being a list */
 .navbar input[type=text]{
	float: right;
	text-align: left;
	padding: 5px;
	border: none;
	border-radius: 5px;
	font-size: 15px;

} 

.icon{
	
	height: 100px;
	width: 100px;
	position: fixed;
} 

.grid-even-columns{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
	text-align: center;
}
	.item-stat1{
		background-color: rgb(45, 18, 18);
		color: white;
			border: 5px;
			border-radius: 5px;
			border-style:dashed;
			border-color: rgb(0, 0, 0);
			
	}

	.item-stat2{

		background-color: rgb(45, 18, 18);
		color: white;
			border: 5px;
			border-radius: 5px;
			border-style:dashed;
			border-color: rgb(0, 0, 0);
		
	}
		
.grid-container {
	display: grid | inline;
	gap: 1rem;
	grid-template-rows: repeat(3, 33px [row-start]);
	grid-template-columns: repeat(3, 33px [col-start]);
}

	
		.itempass {
			text-align: center;
			background-color: slateblue;
		}

		.itemlink {
			text-align: center;
			background-color: slateblue;
		}
		

		.itemphis {
			text-align: center;
			background-color: slateblue;
		
	}
	
/* First attempt at styling tips section
.tips {
	position: absolute;
	text-align: center;
	background-color: rgb(1, 73, 95);
	border-style: solid;
	border-width: 15px;
	border-radius: 25px;
	border-color: blueviolet;		
}
*/

/* flex container that was not used eventually 
 .flex-container { 
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
	row-gap: 30px;
	column-gap: 30px;
	color: white;
	background-color: rgb(45, 18, 18);
 }
*/

/* Gridbox meant to be used for privacy tools section */
.grid-triple-container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	background-color: rgb(45, 18, 18);
	grid-template-areas: 
		"header header header" 
		"main main main"
		"footer";
}
	.item-a{
		grid-area: header;
		background-color: rgb(177, 1, 1);
	}

	.item-b{
		grid-area: main;
		float: center;
	}
/* Gridbox meant to be used for privacy tools section */

/* Subscribe to Newsletter Section */
	form{ 
		text-align: center;
		margin: 1rem 2rem;
		}

	
		.sub{
			background-color: rgb(1, 73, 95);
 		}
		
	.email-sub{
		height: 50px;
		width: 500px;
		border: 2px solid rgb(45, 18, 18);
		border-radius: 5px;
	}

		.sumbit-btn{
			background-color: rgb(45, 18, 18);
			color: white;
			padding: 20px;
			border: none;
			border-radius: 5px;
		}
			.sumbit-btn:hover{
				background-color: rgb(18, 43, 8);
			}
/* Subscribe to Newsletter Section */

.cu{
	background-color: rgb(1, 73, 95);
	color: rgb(255, 255, 255);
	font-size: 30px;
	text-align: center;
}

/* About Section - form */
/* Style inputs with type="text" */
input[type=text], select, textarea {
	width: 100%;
	padding: 20px;
	border: 1px solid silver;
	border-radius: 4px; 
	box-sizing: border-box; /* padding and width stays in place */
	margin-top: 6px;
	margin-bottom: 16px; 
	resize: vertical /* Allow the user to vertically resize the textarea */
  }
  
  /* Style the submit button*/
  input[type=submit] {
	background-color: rgb(1, 73, 95);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button change color */
  input[type=submit]:hover {
	background-color: rgb(45, 18, 18);
  }
  
  /* Background color and padding around form */
  .form-container {
	border-radius: 5px;
	background-color: silver;
	padding: 20px;
  }

/*Services Page*/
.grid-double-container{
	display: grid;
	grid-template-rows:50% 50%;
	grid-template-columns: 50% 50%;
}

	.info{ 
		background-color: palegoldenrod;
		color: black;
	}

	.adv{
		background-color: palevioletred;
		color: black;
	}

	.tool{
		background-color: paleturquoise;
		color: black;
	}

	.sup{ 
		background-color: palegreen;
		color:black;
	}